<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Movie Recommendation System</title>
</head>
<body>
    <div class="container">
        <form action="/getSimilarMovies" method="get">
            <label class="favorite-movie" for="movieInput">Enter Movie Favorite Name:</label>
            <input type="text" id="movieInput" name="movieName" placeholder="Enter your favorite movie">
            <button type="submit">Get Similar Movies</button>
            <h2 class="trending-movies">Trending Movies</h2>
            <div class="similar-movies">
                <% movies.forEach(movie => { %>
                    <div class="movie">
                        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %> Poster">
                        <p class="movie-title"><%= movie.title %></p>
                    </div>
                <% }); %>
        </form>
    </div>
</body>
</html>

